/2013-OOProgrammingWithJava-PART1/week1-016.EvenOrOdd/nbproject/private/
/2013-OOProgrammingWithJava-PART1/week1-018.GradesAndPoints/nbproject/private/
/2013-OOProgrammingWithJava-PART1/week1-017.GreaterNumber/nbproject/private/
/2013-OOProgrammingWithJava-PART1/week1-014.PositiveValue/nbproject/private/
/2013-OOProgrammingWithJava-PART1/week1-015.AgeOfMajority/nbproject/private/
/2013-OOProgrammingWithJava-PART1/week1-019.AgeCheck/nbproject/private/
/2013-OOProgrammingWithJava-PART1/week1-020.Usernames/nbproject/private/
/2013-OOProgrammingWithJava-PART1/week1-021.LeapYear/nbproject/private/
/2013-OOProgrammingWithJava-PART1/week1-024.NhlStatisticsPart2/nbproject/private/
/2013-OOProgrammingWithJava-PART1/week1-022.Password/nbproject/private/
/2013-OOProgrammingWithJava-PART1/week1-023.Temperatures/nbproject/private/
/2013-OOProgrammingWithJava-PART1/week1-016.EvenOrOdd/build/
/2013-OOProgrammingWithJava-PART1/week1-017.GreaterNumber/build/
/2013-OOProgrammingWithJava-PART1/week1-018.GradesAndPoints/build/
/2013-OOProgrammingWithJava-PART1/week1-022.Password/build/
/2013-OOProgrammingWithJava-PART1/week1-003.Spruce/build/
/2013-OOProgrammingWithJava-PART1/week2-028.FromHundredToOne/nbproject/private/
/2013-OOProgrammingWithJava-PART1/week2-027.FromOneToHundred/nbproject/private/
/2013-OOProgrammingWithJava-PART1/week2-029.EvenNumbers/nbproject/private/
/2013-OOProgrammingWithJava-PART1/week2-026.SumOfManyNumbers/nbproject/private/
/2013-OOProgrammingWithJava-PART1/week2-025.SumOfThreeNumbers/nbproject/private/
/2013-OOProgrammingWithJava-PART1/week2-030.UpToCertainNumber/nbproject/private/
/2013-OOProgrammingWithJava-PART1/week2-031.LowerLimitAndUpperLimit/nbproject/private/
/2013-OOProgrammingWithJava-PART1/week2-032.TheSumOfSetOfNumbers/nbproject/private/
/2013-OOProgrammingWithJava-PART1/week2-035.SumOfThePowers/nbproject/private/
/2013-OOProgrammingWithJava-PART1/week2-036.LoopsEndingRemembering/nbproject/private/
/2013-OOProgrammingWithJava-PART1/week2-037.PrintingOutText/nbproject/private/
/2013-OOProgrammingWithJava-PART1/week2-033.TheSumBetweenTwoNumbers/nbproject/private/
/2013-OOProgrammingWithJava-PART1/week2-034.Factorial/nbproject/private/
/2013-OOProgrammingWithJava-PART1/week2-038.ManyPrints/nbproject/private/
/2013-OOProgrammingWithJava-PART1/week2-039.Printing/nbproject/private/
/2013-OOProgrammingWithJava-PART1/week2-040.PrintingLikeboss/nbproject/private/
/2013-OOProgrammingWithJava-PART1/week2-041.GuessingNumberGame/nbproject/private/
/2013-OOProgrammingWithJava-PART1/week2-025.SumOfThreeNumbers/build/
/2013-OOProgrammingWithJava-PART1/week2-026.SumOfManyNumbers/build/
/2013-OOProgrammingWithJava-PART1/week2-027.FromOneToHundred/build/
/2013-OOProgrammingWithJava-PART1/week2-031.LowerLimitAndUpperLimit/build/
/2013-OOProgrammingWithJava-PART1/week2-032.TheSumOfSetOfNumbers/build/
/2013-OOProgrammingWithJava-PART1/week2-033.TheSumBetweenTwoNumbers/build/
/2013-OOProgrammingWithJava-PART1/week2-034.Factorial/build/
/2013-OOProgrammingWithJava-PART1/week2-035.SumOfThePowers/build/
/2013-OOProgrammingWithJava-PART1/week2-036.LoopsEndingRemembering/build/