/2013-OOProgrammingWithJava-PART1/week1-016.EvenOrOdd/nbproject/private/
/2013-OOProgrammingWithJava-PART1/week1-018.GradesAndPoints/nbproject/private/
/2013-OOProgrammingWithJava-PART1/week1-017.GreaterNumber/nbproject/private/
/2013-OOProgrammingWithJava-PART1/week1-014.PositiveValue/nbproject/private/
/2013-OOProgrammingWithJava-PART1/week1-015.AgeOfMajority/nbproject/private/
/2013-OOProgrammingWithJava-PART1/week1-019.AgeCheck/nbproject/private/
/2013-OOProgrammingWithJava-PART1/week1-020.Usernames/nbproject/private/
/2013-OOProgrammingWithJava-PART1/week1-021.LeapYear/nbproject/private/
/2013-OOProgrammingWithJava-PART1/week1-024.NhlStatisticsPart2/nbproject/private/
/2013-OOProgrammingWithJava-PART1/week1-022.Password/nbproject/private/
/2013-OOProgrammingWithJava-PART1/week1-023.Temperatures/nbproject/private/
/2013-OOProgrammingWithJava-PART1/week1-016.EvenOrOdd/build/
/2013-OOProgrammingWithJava-PART1/week1-017.GreaterNumber/build/
/2013-OOProgrammingWithJava-PART1/week1-018.GradesAndPoints/build/
/2013-OOProgrammingWithJava-PART1/week1-022.Password/build/